body{
    background-color: whitesmoke;
}
.card {
margin-left: 20px;
width:300px;
}
.card-header {
    background-color: goldenrod;
}
.jumbotron {
    background-color: maroon;
}
.text-center {
    font-weight: bolder;
    font-size: 60px;
    color:white;
}